.edit-page {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;

  padding: 1rem;
}
.edit-page > header {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;

  margin-bottom: 1rem;
}
