.settings-page {
  align-items: stretch;
  justify-content: flex-start;
  gap: 3rem;

  > section {
    align-items: stretch;
    justify-content: flex-start;
    gap: 1.5rem;

    > header {
      justify-content: flex-start;
      gap: 0.5rem;
    }

    > article {
      align-items: stretch;
      justify-content: flex-start;
      gap: 1rem;

      > header {
        justify-content: flex-start;

        opacity: 0.6;
      }
    }
  }
}
