.preset-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  gap: 2rem;
}
.preset-list-item {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;

  gap: 0.5rem;
}
.preset-list-item-name {
  font-size: 1.5rem;
}
.preset-list-item > header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.preset-list-item > footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.preset-list-item-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
