.preset-editor {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}

.sequence-editor {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  gap: 0.5rem;

  padding: 0.5rem;
}
.sequence-editor-item {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;

  gap: 0.5rem;
}
.sequence-editor-item-value {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.sequence-editor-item-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.sequence-editor-item-controls > button {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 0;
  padding: 0.25rem;
}
.sequence-editor-add {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding: 0.5rem;
}
.sequence-editor-add > button {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 0;
  border-radius: 50%;
  padding: 0.5rem;
}

.loop-editor {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;

  border: 2px solid black;
}
.loop-editor-header {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  gap: 0.5rem;

  padding: 0.5rem;
  background-color: var(--background-color-alt);
  color: var(--text-color-alt);
}
.loop-editor-label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.period-editor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  padding: 1rem;
}

.seconds-editor {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.seconds-editor-value {
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 6ch;
  font-size: 2rem;
  font-variant-numeric: tabular-nums;
}
.seconds-editor-button {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0.25rem;
}

.number-editor {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.number-editor-value {
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 6ch;
  font-size: 2rem;
  font-variant-numeric: tabular-nums;
}
.number-editor-button {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0.25rem;
}
