.loop-display {
  overflow: hidden;
  min-width: fit-content;

  border-radius: var(--radius);
  border: 2px solid var(--color-background-alt);
}
.loop-display > header {
  padding: 0.25rem;
  background-color: var(--color-background-alt);
  color: var(--color-text-alt);
}

.period-display {
  border-radius: var(--radius);
  border: 2px solid var(--color-background-alt);
  padding: 1rem 2rem;
}

.loop-display .period-display {
  border-radius: 0;
  border: 0;
}
