.loop-display {
  overflow: hidden;
  min-width: fit-content;

  border-radius: var(--radius);
  border: 2px solid var(--background-color-alt);
}
.loop-display > header {
  padding: 0.25rem;
  background-color: var(--background-color-alt);
  color: var(--text-color-alt);
}

.period-display {
  border-radius: var(--radius);
  border: 2px solid var(--background-color-alt);
  padding: 1rem 2rem;
  background-color: #b88a1d;
  color: black;
}

.loop-display .period-display {
  border-radius: 0;
  border: 0;
}
