.timer-player > header > button {
  padding: 0.5rem;
}
.timer-player > footer > progress {
  flex-grow: 1;
  width: 100%;
}

.timer-player-display > header {
  padding-bottom: 2rem;
  font-size: 2rem;
}
.timer-player-display > article {
  font-size: 8rem;
  font-variant-numeric: tabular-nums;
}
.timer-player-display > footer {
  padding-bottom: 2rem;
  font-size: 4rem;
}

.timer-finished-display {
  font-size: 6rem;
}
