.title-bar {
  flex-basis: 3.5rem;
  flex-shrink: 0;
  padding: 0 1rem;
}
.title-bar.hide-shadow {
  box-shadow: none;
}

.title-bar button, .title-bar label {
  background: none;
  color: inherit;
}

.title-bar-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 1.5rem;
}
