:root {
  color-scheme: light dark;
  --window-color: light-dark(#ddd, #000);
  --background-color: light-dark(#fff, #333);
  --background-color-alt: light-dark(#000, #fff);
  --background-color-off1: light-dark(#ddd, #111);
  --text-color: light-dark(#000, #fff);
  --text-color-alt: light-dark(#fff, #000);
  --radius: 5px;
}

body {
  background-color: var(--window-color);
  color: var(--text-color);
  font-family:
    system-ui,
    -apple-system,
    Segoe UI,
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji;
}
