/* CSS file meant for style resets only */

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  cursor: default;
  user-select: none;
  -webkit-user-select: none;
  touch-action: none;
  overscroll-behavior-y: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: inherit;
}

p {
  margin: 0;
}
