html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: inherit;
}

button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  border: 0;
  padding: 0.25rem;
}
